@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d2021;
  color: white;
  height: 100vh;
  font-family: "Ubuntu",sans-serif;
}
nav {
  display: flex;
  margin-bottom: 0;
}
nav a {
  text-align: center;
  background-color: #8ec07c;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  padding: 13px 0;
  margin: 50px 0 0 20px;
  width: 100px;
  font-weight: 500;
}

form a {
  text-decoration: underline;
  color: #458588;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 500;
}
.input {
  box-sizing: border-box;
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 300;
}

.input:focus {
  outline-style: auto;
  outline-color: black;
}

.button {
  background-color: #1c3f60; /* Green */
  text-decoration: none;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px 25px;
  margin: 16px 0;
  text-align: center;
}
.button:hover {
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.5), 0 7px 10px 0 rgba(0, 0, 0, 0.4);

  cursor: pointer;
}

/* For Index Page */
#index main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#index nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 10px;
}
#index nav a {
  text-align: center;
  background-color: #8ec07c;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  padding: 13px 0;
  margin: 12px;
  width: 100px;
  font-weight: 500;
}
#index h1 {
  margin-bottom: 50px;
}

/* Login Page */
#login main,
#register main,
#home main {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login form,
#register form,
#home .result {
  padding: 25px;
  padding-bottom: 0;
  background-color: #3c3836;
}

#register form {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#gender {
  width: 285px;
}
#gender input {
  font-size: 20px;
  font-weight: 300;
  padding: 5px 10px;
  margin: 15px;
  margin-right: 2px;
}

.break {
  flex-basis: 100%;
}

#home .result {
  padding-bottom: 25px;
}
